*{
    margin: 0%;
    padding: 0%;
}
.UpBar{
    background-color: red;
    height: 100px;
    width: 100%;
}
.logo{
    height: 100%;
    width: 100px;
    background-color: blue;
    margin-left: 20px;

}
.img{
    background-color: antiquewhite;
    height: inherit;
}
.img img{
    display: flex;
    place-content: center;
    justify-content: center;
    height: inherit;
    width: -moz-available;
}