@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
a{
    color: white;
    text-decoration: none;
}
img{
    pointer-events:none ;
}
.container{
    /* background-color: red; */
}
.upBar{
    /* background-color: aqua; */
    background-image:linear-gradient(139deg,#011227,#547195) ;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px Black;
    z-index: 12;
}
.upBar .logo{
    /* background-color: sandybrown; */
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px  40px;
    font-size: 12px;
    color: white;
}

.Menu{
    /* background-color: brown; */
    height:100%;
    width: 100px;
}
.MenuButton{
    /* background-color: rgb(0, 255, 85); */
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.Large{
    font-size: 35px;
    color: white;
}
.HiddenMenu{
    position: absolute;
    width: 70%;
    height: 100vh;
    left: 0%;
    top: 100px;
    background-color: #001329;
    display: none;
    z-index: 10;
}
.HiddenMenu ul{
    background-color: #001329;
    height: 100%;
    color: white;
}
.HiddenMenu ul li{
    background-color: #001329;
    padding:30px 40px;
    margin: 10px 5px;
    border-radius: 12px;
    transition: .3s;

}
.HiddenMenu ul li:hover{
    background-color: #001e41;
    box-shadow: 0px 0px 10px #00000033;
    transition: .3s;
}
.HiddenMenu ul a:hover{
color:#FF6B35;

}
.Or{
    color: #FF6B35;
}
/* Hero Banner */
.HeroBanner{
    background-image: linear-gradient(136deg ,#FF6B35  , #4CAF50);
    height: 580px;
    position: relative;
    user-select: none;
}
.HeroBanner .HeroImg{
    opacity: 80%;
    width: 100%;
    height: 100%;
    background-image: url('../img/HeroImg.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 77%;
    background-color: #1A2B3E;
}
.content{
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.AboveIt{
    width: 80%;
    /* background-color: red; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.HeroTexts{
    /* background-color: brown; */
    color: rgb(255, 255, 255);
    margin:20px 0px;
    z-index: 2;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.HeroTexts span{
    font-size: 31px;
}
.HeroBtn button{
    background-color: #4169E1;
    width: 120px;
    height: 50px;
    border: 0px;
    border-radius: 6px;
    color: white;
    transition: .3s;
}
.HeroBtn button:hover{
    transition: .3s;
    background-color: #FF6B35;
    position: relative;
    top: -3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.329);
}
.BackGroundTitle{
    filter: blur(3px);
    color: rgba(255, 255, 255, 0.267);
    margin:20px 0px;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: x-large;
    top: 87px;
    left: -50px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    user-select: none;
}


/* Announcement */

.Announcement{
    /* background-color: #4CAF50; */
    width: 100%;
}
.Announcement .title,
.Events .Eventstitle{
    padding-top: 20px;
    /* background-color: rgb(255, 255, 255); */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1A2B3E;

}
.Announcement .AnnContent{
    background-color: #1A2B3E;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Announcement .AnnContent .CardAnn{
    color: white;
    background-color: #4169E1;
    width: 433px;
    width: calc(80% - 15px);
    height: auto;
    display: flex;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 10px #00000080;
    margin-top: 25px;
    margin-bottom: 25px;
}
.ImgDesc{
    width: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-shrink: initial;
    background-color: #1A2B3E;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #1A2B3EAB;
    position: relative;
}
.ImgDesc img{
    width: 620px;
    user-select: none;
}
.ImgDesc .Hide{
    background-color: #00000000;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 100%;
    z-index: 10;
}
.AllInfoAnn{
    padding-left: 20px;
}
.AllInfoAnn .Date{
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FF6B35;
}
.AllInfoAnn .TitleAnn{
    font-size: 18px;
    padding-bottom: 3px;
}
.AllInfoAnn .DescAnn{
    font-size: 14px;
    max-height: 113px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


/*  */
.Events .Eventstitle{
    background-color: #D3D3D3;
    color: rgb(0, 0, 0);
}
.Events{
    background-color: #D3D3D3;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
align-items: center;
}
.EventsContent{
    background-color: #D3D3D3;
    width: 80%;

}
.CardEvents{
    width: fit-content;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.ImgDescEvents{
    width: 100%;
    background-color: yellow;
    display: flex;
    position: relative;
}

.ImgDescEvents img{
    width: 100%;
    height: 100%;
}
.ImgDescEvents .TitleAnn{
    color: white;
    background-color: #4242426b;
    position: absolute;
    bottom: 0;
    width:100%;
    height: 60px;
    display: flex;
    align-items: center;

}
.ImgDescEvents .TitleAnn h3{
    padding-left: 20px;
}
.AllInfoEvents .Date{
    position: absolute;
    top:0px;
    background-color: #4169E1;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 20px 0px;
}
.CardEvents .DescAnn {
    padding: 10PX 20Px 25px 20px;
}