


@media (max-width:419px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .Likefotter {
        display: flex;
        justify-content: center;
    }


}


@media (max-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

}


@media (max-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

}


@media (max-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .heroBanner .Description p {
        width: 100%;
    }
}



@media (max-width:1060px) {
    /* big landscape tablets, laptops, and desktops */ 
    .About .Content .LeftSec {
        width: 300px;
    }

}

@media (max-width:1110px) {
    /* big landscape tablets, laptops, and desktops */ 
    .About .Content .LeftSec {
        width: 470px;
    }

    .RightSec {
        display: block;
    }
    .RightSec p{
        padding: 0%;
        text-align: center;
    }

    .About .Content .RightSec {
        height: 300px;
    }
    .display{
        display: flex;
        margin-top: 75px;
    }

    .Likefotter {
        justify-content: center;
        flex-wrap: wrap;
    }
    .width {
        width: 100%;
    }
    .listMenu{
        display: none;
    }

}

@media (max-width:862px) {
    .display p{
        padding: 0px;
        text-align: center;
    }

}



@media (max-width:680px) {
    /* big landscape tablets, laptops, and desktops */ 
    .heroBanner .specialisation {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .heroBanner .name{
        font-size: 34px;
    }
    .heroBanner .Description p {
        font-size: 13px;
    }

}


@media (max-width:398px) {
    .heroBanner .specialisation {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .heroBanner .name{
        font-size: 26px;
    }
    .heroBanner .Description p {
        font-size: 10px;
    }
}


@media (max-width:555px) {
  .upbar .Grid .socialMedia{
    display: none;
  }
  .logo{
    display: none;
  }
  .Grid {

    justify-content: center;
  }
  .Widss{
    display: flex;
}
.upbar{
    display: none;
}
.heroBanner {
    height: 100vh;

  }

}
@media (max-width:341px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 

    .About .RightSec p {
        margin-bottom:20px ;
    }
    .About .Content .RightSec {
        height: 300px;
    }
    .About .Content .LeftSec {
        width: 244px;
    }

}

